// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Guangzhou Easy EAI Technology Co., Ltd.
 *
 */

/ {
	gpioleds {
		pinctrl-names = "default";
		pinctrl-0 = <&ir_led_io>;
		compatible = "gpio-leds";

		ir_led {
			label = "IR-LED";
			gpios = <&gpio2 RK_PA4 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	vcc1v2_dvdd: vcc1v2-dvdd {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v2_dvdd";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
	};

	vcc2v8_avdd: vcc2v8-avdd {
		compatible = "regulator-fixed";
		regulator-name = "vcc2v8_avdd";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
	};
};

&csi_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam0: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ucam_out0>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi_csi2_input>;
				data-lanes = <1 2>;
			};
		};
	};
};

&csi_dphy1 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy1_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ucam_out1>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy1_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp_in>;
				data-lanes = <1 2>;
			};
		};
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;

	gc2093: gc2093@7e {
		compatible = "galaxycore,gc2093";
		reg = <0x7e>;
		clocks = <&cru CLK_MIPICSI_OUT>;
		clock-names = "xvclk";
		power-domains = <&power RV1126_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipicsi_clk1 &csi1_pwdn &csi1_rst>;
		avdd-supply = <&vcc_avdd>;
		dovdd-supply = <&vcc_dovdd>;
		dvdd-supply = <&vcc_dvdd>;
		pwdn-gpios = <&gpio1 RK_PD6 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 RK_PD7 GPIO_ACTIVE_LOW>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "YT-RV1109-2-V1";
		rockchip,camera-module-lens-name = "40IR-2MP-F20";
		//ir-cut = <&cam_ircut0>;
		port {
			ucam_out1: endpoint {
				remote-endpoint = <&csi_dphy1_input>;
				data-lanes = <1 2>;
			};
		};
	};

	gc2053: gc2053@37 { //IR
		compatible = "galaxycore,gc2053";
		reg = <0x37>;

		clocks = <&cru CLK_MIPICSI_OUT>;
		clock-names = "xvclk";

		power-domains = <&power RV1126_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipicsi_clk0 &csi0_rst &csi0_pwdn &csi0_pwr>;

		power-gpios = <&gpio2 RK_PA0 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_LOW>;

		avdd-supply = <&vcc2v8_avdd>;
		dovdd-supply = <&vcc_dovdd>;
		dvdd-supply = <&vcc1v2_dvdd>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "YT-RV1109-2-V1";
		rockchip,camera-module-lens-name = "40IR-2MP-F20";
		port {
			ucam_out0: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2>;
			};
		};
	};
};

/* isp cma buffer don't fiddle with it, dual camera(1920 * 1080) need 92M buffer */
&isp_reserved {
	size = <0x5c00000>;
};

&mipi_csi2 {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy0_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in>;
				data-lanes = <1 2>;
			};
		};
	};
};

&pinctrl {
	mipi-csi {
		/omit-if-no-ref/
		csi0_rst: csi0_rst {
			rockchip,pins =
				<1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		/omit-if-no-ref/
		csi0_pwdn: csi0_pwdn {
			rockchip,pins =
				<1 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		/omit-if-no-ref/
		csi0_pwr: csi0_pwr {
			rockchip,pins =
				<2 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		/omit-if-no-ref/
		ir_led_io: ir-led-io {
			rockchip,pins =
				<2 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		/omit-if-no-ref/
		csi1_rst: csi1_rst {
			rockchip,pins =
				<1 RK_PD7 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		/omit-if-no-ref/
		csi1_pwdn: csi1_pwdn {
			rockchip,pins =
				<1 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&rk809 {
	regulators {
		vcc_dvdd: LDO_REG6 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
		};

		vcc_avdd: LDO_REG7 {
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mmu {
	status = "disabled";
};

&rkcif_mipi_lvds {
	status = "okay";
	port {
		cif_mipi_in: endpoint {
			remote-endpoint = <&mipi_csi2_output>;
			data-lanes = <1 2>;
		};
	};
};

&rkcif_mipi_lvds_sditf {
	status = "okay";

	port {
		cif_sditf: endpoint {
			remote-endpoint = <&isp_virt1_in>;
			data-lanes = <1 2 3 4>;
		};
	};
};

&rkisp {
	status = "okay";
};

&rkisp_vir0 {
	status = "okay";

	ports {
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			isp_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&csi_dphy1_output>;
			};
		};
	};
};

&rkisp_vir1 {
	status = "okay";
	ports {
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			isp_virt1_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_sditf>;
			};
		};
	};
};

&rkisp_mmu {
	status = "disabled";
};

&rkispp {
	status = "okay";
	/* the max input w h and fps of mulit sensor */
	max-input = <1920 1080 30>;
};

&rkispp_vir0 {
	status = "okay";
};

&rkispp_vir1 {
	status = "okay";
};

&rkispp_mmu {
	status = "okay";
};
